.container 
    .row.flex-row-reverse  
        .col-12.col-md-6 
            .image-cover 
                img(src="https://cocohitech.com/wp-content/uploads/2020/05/coconut-vietnam-800x681.jpg", alt="")
        .col-12.col-md-6.d-flex.justify-content-center.flex-column 
            .content-contact
                h2 COCOHITECH JSC’S CORE VALUE
                p What makes up the most value of CocoHitech lies in our customers. We view customer satisfaction as the most exact measure of our company’s true value and the final goal that our business aims at. That is the reason why we have been trying our best every single day to improve product quality to satisfy our existing and future customers. Above quantity and price, quality is viewed as the keyword that differentiates CocoHitech with other competitors. We work for quality, build up prestige by the quality, and develop our shelves based on quality. Quality is also the firm base for our company to build up close relationships with our partners throughout 4 years of operation.