.container 
    .row
        .col-12.col-md-6 
            .image-cover 
                img(src="https://cocohitech.com/wp-content/uploads/2020/05/coconut-vietnam-cocohitech-800x450.jpg", alt="")
        .col-12.col-md-6.d-flex.justify-content-center.flex-column 
            .content-contact
                h2 COCOHITECH’S MISSION
                p CocoHitech seeks to bring wholesalers oversea unique, high-quality agricultural products of Vietnam. We strive to grow our business with honesty and the effort to provide better products and better solutions for our customers’ problems. We also make a contribution to a more sustainable life by providing a variety of environmental-friendly materials made from the abundant coconut resource of Vietnam.