.container 
    .row
        .col-12.col-md-6 
            .image-cover 
                img(src="https://cocohitech.com/wp-content/uploads/2020/05/coconut-tree-533x400.jpg", alt="")
        .col-12.col-md-6.d-flex.justify-content-center.flex-column 
            .content-contact
                h2 OVERVIEW OF COCOHITECH JSC VIETNAM
                p CocoHitech JSC is a Manufacture and Export centre of Agricultural products of Vietnam. Located in Ben Tre province, known as the land of coconut in Vietnam, our company CocoHitech is specialized in exporting coconut related products such as Coconut Fiber, Coir Mat, Coir rope, Coconut husk,…etc. Besides, we also diversified our product line by adding a variety of other different agricultural products such as Areca Leaf Plates, Braided Water Hyacinth Fiber, Dried Noni Fruit, and many tropical fruits.