.row 
    .col-12.col-md-6 
        .image-cover 
            img(src="https://cocohitech.com/wp-content/uploads/2020/04/coffe_back-1.png", alt="")
    .col-12.col-md-6.d-flex.justify-content-center.flex-column 
        .content-contact
            h2 Contact Us | 
                span(style="color: #008000;") Coco Hitech
            p Phone 1: 
                a(href="#") 0123456789
            p Phone 2: 
                a(href="#") 0123456789
            p 
                span(style="color: #008000;")
                    strong COCO HITECH JSC
                br
                strong Trụ sở chính: 
                |261-263 Phan Xich Long Street, Ward 2,
                br
                |Phu Nhuan District, Ho Chi Minh City, Vietnam
                br
                strong Nhà máy: 
                |293, Tan An Hamlet, Tan Binh Commune,
                br
                |Mo Cay Bac District, Ben Tre Province, Vietnam
            p 
                strong Email: 
                    a(href="#") info@cocohitech.com
                br
                strong Website: 
                    a(href="#") https://cocohitech.com
