footer
    .top-footer 
        .footer-img-bg 
        .container 
            .row.bg-front-of 
                .col-12.col-md-4
                    .col-inner 
                        div.footer-logo 
                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/coco-hitech-logo-1.png", alt="")
                        p Coco Hitech JSC là công ty sản xuất các sản phẩm làm từ dừa tại Việt Nam. Chúng tôi cung cấp hàng loạt các sản phẩm làm từ trái dừa như xơ dừa đóng kiện, thảm xơ dừa, dây xơ dừa, vỏ dừa, mụn dừa, dừa non, v.v.
                .col-12.col-md-4
                    .col-inner.mb-4
                        h4 Thông tin chung 
                        ul
                            li.bullet-arrow
                                a(href="#") Điều khoản sử dụng
                            li.bullet-arrow
                                a(href="#") Quy định bảo mật
                            li.bullet-arrow
                                a(href="#") Phương thức thanh toán 
                            li.bullet-arrow
                                a(href="#") Vận chuyển và giao nhận
                            li.bullet-arrow
                                a(href="#") Thương hiệu và bản quyền
                            li.bullet-arrow
                                a(href="#") Giải quyết tranh chấp
                            li.bullet-arrow
                                a(href="#") Chính sách bảo mật thông tin
                            li.bullet-arrow
                                a(href="#") Đặc sản Măng Đen
                .col-12.col-md-4
                    .col-inner.mb-4
                        h4 Liên hệ
                        ul
                            li.bullet-arrow
                                a(href="#") Hotline: 0378780208
                            li.bullet-arrow
                                a(href="#") Email: info@cocohitech.com
                    .col-inner.mb-4
                        h4 Thời gian làm việc
                        ul
                            li.bullet-arrow
                                a(href="#") 7:30am - 17:30pm - Thứ 2-Thứ 7
                    .col-inner 
                        img(src="https://cocohitech.com/wp-content/uploads/2020/06/SaleNoti.png", alt="", width="160")
    .container                    
        .row 
            .col-12.footer-info-company 
                h4 Công ty Cổ Phần Coco Hitech
                p 
                    |Trụ sở: Số 293, Ấp Tân An, Xã Tân Bình, Huyện Mỏ Cày Bắc, Tỉnh Bến Tre 
                    <br>
                    |VPĐD: 261-263 Phan Xích Long, Phường 2, Quận Phú Nhuận, TP. Hồ Chí Minh
                    br
                    |Điện thoại: 
                    a(href="#") 0938244404
                    | - Email: 
                    a(href="#") cocohitech.jsc@gmail.com
                    
    .text-center.copyright
        p 2021 COCO HITECH JSC Design by Dinh Nghia 
