header
    .header-top.d-none.d-md-block 
        .d-flex.container 
            div
                ul.nav
                    li.nav-item.px-2.nav-phone.nav-small 0378780208
                    li.nav-item.px-2.nav-email.nav-small ddnghiait@gmail.com
            .ms-auto
                ul.nav
                    li.nav-item.nav-social.nav-small
                        a(href="#").me-1
                            <i class="fab fa-facebook-f"></i> 
                        a(href="#")
                            <i class="fab fa-youtube"></i> 
                    li.nav-item.nav-language
                        a(href="#").nav-small Tiếng việt
                    li.nav-item.nav-language
                        a(href="#").nav-small Tiếng Anh 

    .header-main 
        include nav
