.e-sidebar#menu 
    .sidebar-inner
        .content-sidebar
            ul
                li
                    a(href="/html/index.html") Trang chủ
                li
                    a(href="/html/about-us.html") Giới thiệu
                li
                    a(href="/html/shop.html") Sản phẩm
                li
                    a(href="/html/blog.html") Tin Tức
                li
                    a(href="/html/contact.html") Liên hệ
    .sidebar-overlay