.e-sidebar#menu 
    .sidebar-inner
        .content-sidebar
            ul#nav-mobile
                li.mm-active
                    a(href="/html/index.html") Trang chủ
                li
                    a(href="/html/about-us.html") Giới thiệu
                li.nav-sub
                    a.has-arrow(href="#") Sản phẩm
                    ul
                        li
                            a(href="#") Coconut
                        li
                            a(href="#") Agricultural
                        li
                            a(href="#") Other Products
                li
                    a(href="/html/blog.html") Tin Tức
                li
                    a(href="/html/contact.html") Liên hệ
            //- ul.nav-mobile
            //-     li.item-active
            //-         a(href="/html/index.html") Trang chủ
            //-     li
            //-         a(href="/html/about-us.html") Giới thiệu
            //-     li.nav-sub
            //-         a(href="/html/shop.html") Sản phẩm
            //-         ul
            //-             li
            //-                 a(href="#") Coconut
            //-             li
            //-                 a(href="#") Agricultural
            //-             li
            //-                 a(href="#") Other Products
            //-     li
            //-         a(href="/html/blog.html") Tin Tức
            //-     li
            //-         a(href="/html/contact.html") Liên hệ
            //-     li.p-2 
            //-         form(action="/html/shop.html", method="GET")
            //-             input.form-control.btn-search(type="search", name="key_search", placeholder="Tìm kiếm") 
            //-             input.btn.btn-primary.btn-sm.mt-2(type="submit", value="Tìm kiếm")
    .sidebar-overlay