.header-inner.d-flex.container.align-items-center
    .mobile-nav.flex-fill.d-lg-none
        .hambuger-sidebar-mobile
            i.fal.fa-bars 
    .logo.flex-fill
        a(href="#")
            img(src="https://cocohitech.com/wp-content/uploads/2020/04/coco-hitech-logo-1.png", alt="", width="auto", height="80") 
    .ms-auto.d-none.d-lg-block
        ul.nav.nav-primary
            li.nav-item
                a(href="/html/index.html").nav-link.nav-active Trang chủ
            li.nav-item
                a(href="/html/about-us.html").nav-link Giới thiệu
            li.nav-item
                a(href="/html/shop.html").nav-link Sản phẩm
            li.nav-item
                a(href="/html/blog.html").nav-link Tin Tức
            li.nav-item
                a(href="/html/contact.html").nav-link Liên hệ