.message-box.position-relative 
    img(src="https://cocohitech.com/wp-content/uploads/2020/04/call-me-1400x474.jpg", alt="").bg-img-fill
    .content.d-flex.justify-content-end
        .call-phone
            h2 CALL ME NOW!
            .space-h2
            div 
                a.btn.btn-primary(href="tel:+123456789") 012345678