.ourservices 
  .row 
    .col-12.col-md-6 
        .img-wrapper    
            .image-cover 
                img(src="https://cocohitech.com/wp-content/uploads/2020/04/great-hotel-service.jpg", alt="")
    .col-12.col-md-6.d-flex.justify-content-center.flex-column 
        .content-service
            h3 Our Services
            ul.u-list
                li.li-star 1. Reply within 24 hours
                li.li-star 2. Quality guarantee
                li.li-star 3. Use cheap and fast shipping to your doors
                li.li-star 4. OEM service-manufacture under your own brand and package
                li.li-star 5. Complete export management
