extends template/layout

block main 
    main
        #content
            section.section-aboutus.bg-grey-300
                include ./includes/about-us/overview
            section.section-aboutus.bg-white.flex-row-reverse
                include ./includes/about-us/core-value
            section.section-aboutus.bg-grey-300
                include ./includes/about-us/mission