extends template/layout

block main 
    main
        .breadcrumb-wraper.bg-img(style="background-image:url(https://cocohitech.com/wp-content/uploads/2020/04/Areca-Leaf-Plates-2.jpg)") 
            .container 
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="/html/index.html") Trang chủ
                        li.breadcrumb-item
                            a(href="/html/shop.html") Dừa
                        li(aria-current="page").breadcrumb-item.active Coir Mat
        #content
            section.detail-product
                include ./includes/detail/product
    include ./includes/home/modal-view
block js 
    script(src="../js/detail.js") 