.container.cat-products-inner
    .cat-position 
        .swiper-container.swiper-category
            .swiper-wrapper
                .swiper-slide
                    .card-category 
                        .card-image 
                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/coconut-vietnam.jpg", alt="")
                        .card-content
                            h5 Dừa trái 
                            p 7 Sản phẩm
                .swiper-slide
                    .card-category 
                        .card-image 
                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/nhau.jpg", alt="")
                        .card-content 
                            h5 Trái cây
                            p 12 Sản phẩm
                .swiper-slide
                    .card-category 
                        .card-image 
                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/Water-Hyacinth-Fiber-.jpg", alt="")
                        .card-content 
                            h5 Sản phẩm khác
                            p 4 sản phẩm

                
