.modal.fade#preview-modal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    span.close(data-bs-dismiss="modal" ) 
        i.far.fa-times
    .modal-dialog.modal-dialog-centered.modal-lg 
        .modal-content 
            .modal-body 
                .row 
                    .col-md-6 
                        .product-slider 
                            .swiper-container.swiper-product-preview
                                .swiper-wrapper
                                    .swiper-slide 
                                        img(src="https://cocohitech.com/wp-content/uploads/2020/04/Water-Hyacinth-Fiber-5-800x533.jpg", alt="", width="100%")
                                    .swiper-slide
                                        img(src="https://cocohitech.com/wp-content/uploads/2020/04/Water-Hyacinth-Fiber-6-800x533.jpeg", alt="", width="100%")
                                    .swiper-slide
                                        img(src="https://cocohitech.com/wp-content/uploads/2019/08/Coir-Rope-800x533.jpg", alt="", width="100%")
                                .swiper-pagination
                                .swiper-button-next 
                                .swiper-button-prev
                    .col-md-6 
                        .product-inner
                            a(href="#") 
                                h1.title Braided Water Hyacinth Fiber
                            .is-divider.small
                            .product-short-description
                                p 
                                    strong ∗ Material:
                                    |100% water hyacinth fiber
                                p 
                                    strong ∗ Port:
                                    | Cat Lai Port, Hochiminh City, Vietnam
                                p 
                                    strong ∗ Payment:
                                    | T/T, L/C
                                p 
                                    strong ∗ Original:
                                    | Tien Giang, Hau Giang, Long An, Vietnam
                                p 
                                    strong ∗ Supply:
                                    | 2000 packs per month