.container
    div.text-center 
        h2.title Popular products
        p.sub-title CocoHitech is specialized in exporting coconut related products such as Coconut Fiber, Coir Mat, Coir rope, Coconut husk,…etc
    .product-popular-inner 
        .row.row-cols-2.row-cols-md-5.g-2
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2014/08/21863895b39a49c4108b-534x400.jpg", alt="").card-img-top
                        .quick-view Quick view     
                    .card-body.text-center 
                        a(href="#").product-category     
                            p COCONUT
                        a(href="#").product-name
                            p Coconut Fiber
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2018/10/cocohitech-5-533x400.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center 
                        a(href="#").product-category       
                            p COCONUT
                        a(href="#").product-name
                            p Coir Mat
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2018/10/Coconut-Peat-3-400x400.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center  
                        a(href="#").product-category     
                            p COCONUT
                        a(href="#").product-name
                            p Coconut Peat
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2019/07/Coconut-Husk--280x280.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center  
                        a(href="#").product-category     
                            p COCONUT
                        a(href="#").product-name
                            p Coconut Husk Chips
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2019/08/Coir-Rope-600x400.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center 
                        a(href="#").product-category     
                            p COCONUT
                        a(href="#").product-name
                            p Coconut Fiber
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2014/08/21863895b39a49c4108b-534x400.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center 
                        a(href="#").product-category     
                            p COCONUT
                        a(href="#").product-name
                            p Coconut Fiber
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2018/10/cocohitech-5-533x400.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center 
                        a(href="#").product-category       
                            p COCONUT
                        a(href="#").product-name
                            p Coir Mat
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2018/10/Coconut-Peat-3-400x400.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center  
                        a(href="#").product-category     
                            p COCONUT
                        a(href="#").product-name
                            p Coconut Peat
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2019/07/Coconut-Husk--280x280.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center  
                        a(href="#").product-category     
                            p COCONUT
                        a(href="#").product-name
                            p Coconut Husk Chips
            .col 
                .card 
                    .image-cover 
                        a(href="#") 
                            img(src="https://cocohitech.com/wp-content/uploads/2019/08/Coir-Rope-600x400.jpg", alt="").card-img-top
                        .quick-view Quick view
                    .card-body.text-center 
                        a(href="#").product-category     
                            p COCONUT
                        a(href="#").product-name
                            p Coconut Fiber
            
                    

