.container
    div.text-center 
        h2.title Tin tức
        p.sub-title Manufacturer and export centre of agricultural products of Vietnam
    .posts-inner 
        .swiper-container.swiper-posts
            .swiper-wrapper
                .swiper-slide 
                    .card
                        .image-cover
                            a(href="#") 
                                img(src="https://cocohitech.com/wp-content/uploads/2014/08/21863895b39a49c4108b-534x400.jpg", alt="")
                        .card-body
                            h5.post-title Sản xuất dừa trên thế giới – Triển vọng cho ngành dừa
                            .post-date 16.05.2021
                .swiper-slide 
                    .card
                        .image-cover
                            a(href="#") 
                                img(src="https://cocohitech.com/wp-content/uploads/2020/05/Coir-fiber-Vietnam-cocohitech-600x400.jpg", alt="")
                        .card-body
                            h5.post-title Dự đoán thị trường nông nghiệp quy I 2021
                            .post-date 21.05.2021
                .swiper-slide 
                    .card
                        .image-cover
                            a(href="#") 
                                img(src="https://cocohitech.com/wp-content/uploads/2020/06/cocohitech-xo-dua-ben-tre27-600x400.jpg", alt="")
                        .card-body
                            h5.post-title Xu hướng chuyển đổi thị trường cây công nghiệp
                            .post-date 17.05.2021
                .swiper-slide
                    .card
                        .image-cover
                            a(href="#") 
                                img(src="https://cf.shopee.vn/file/f5ff43db26ed173faff0982cc0fdbdb6", alt="")
                        .card-body
                            h5.post-title Đón nhận mua thu hoạch vải thiều của bà con Bắc Giang
                            .post-date 16.05.2021
            .swiper-button-next 
            .swiper-button-prev
        //- .row.row-cols-2.row-cols-md-4.g-2
                .col 
                    .card
                        .image-cover
                            a(href="#") 
                                img(src="https://cocohitech.com/wp-content/uploads/2014/08/21863895b39a49c4108b-534x400.jpg", alt="")
                        .card-body
                            h5.post-title Sản xuất dừa trên thế giới – Triển vọng cho ngành dừa
                            .post-date 16.05.2021
                .col 
                    .card
                        .image-cover
                            a(href="#") 
                                img(src="https://cocohitech.com/wp-content/uploads/2020/05/Coir-fiber-Vietnam-cocohitech-600x400.jpg", alt="")
                        .card-body
                            h5.post-title Dự đoán thị trường nông nghiệp quy I 2021
                            .post-date 21.05.2021
                //- .col 
                //-     .card
                //-         .image-cover
                //-             a(href="#") 
                //-                 img(src="https://cocohitech.com/wp-content/uploads/2020/06/cocohitech-xo-dua-ben-tre27-600x400.jpg", alt="")
                //-         .card-body
                //-             h5.post-title Xu hướng chuyển đổi thị trường cây công nghiệp
                //-             .post-date 17.05.2021
                //- .col 
                //-     .card
                //-         .image-cover
                //-             a(href="#") 
                //-                 img(src="https://cf.shopee.vn/file/f5ff43db26ed173faff0982cc0fdbdb6", alt="")
                //-         .card-body
                //-             h5.post-title Đón nhận mua thu hoạch vải thiều của bà con Bắc Giang
                //-             .post-date 16.05.2021
        .row 
            .text-center.mt-2
                a(href="#").btn.btn-primary Xem thêm
                    