img(src="https://cocohitech.com/wp-content/uploads/2020/04/banner-home-footer-1400x365.jpg", alt="").bg-img-fill
.container.videos-inner 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yQEFhlpF3Fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
