.swiper-container.swiper-banner
    .swiper-wrapper
        .swiper-slide 
            img(src="https://cocohitech.com/wp-content/uploads/2020/05/cocohitech-slide-1.jpg", alt="", width="100%")
        .swiper-slide
            img(src="https://cocohitech.com/wp-content/uploads/2020/05/cocohitech-slide-2.jpg", alt="", width="100%")
    .swiper-button-next 
    .swiper-button-prev