doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="https://unpkg.com/metismenu/dist/metisMenu.min.css")
        link(rel="stylesheet", href="../css/app.css")
        title Document
    body.preload
        block header
            include ../includes/header

        block main
        block end 
            include ../includes/nav-mobile
        block footer
            include ../includes/footer
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" , integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" , crossorigin="anonymous") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" , integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" , crossorigin="anonymous") 
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js") 
        script(src="https://unpkg.com/metismenu") 
        script(src="../js/index.js") 
        block js 