.container-xxl.bg-grey-200
    .product-wrapper.mb-4
        .row 
            .col-12.col-md-7 
                .product-slider.row.g-2 
                    .col-3.col-md-2.preview-product 
                        .swiper-container.thumb-carousel
                            .swiper-wrapper
                                .swiper-slide 
                                    .image-cover 
                                        img(src="https://cocohitech.com/wp-content/uploads/2020/04/Dried-Noni-Fruit-3-600x400.png", alt="")
                                .swiper-slide 
                                    .image-cover 
                                        img(src="https://cocohitech.com/wp-content/uploads/2020/04/Dried-Noni-Fruit--400x400.jpg", alt="")
                    .col-9.col-md-10                    
                        .swiper-container.carousel
                            .swiper-wrapper
                                .swiper-slide 
                                    .image-cover 
                                        img(src="https://cocohitech.com/wp-content/uploads/2020/04/Dried-Noni-Fruit-3-600x400.png", alt="")
                                .swiper-slide 
                                    .image-cover 
                                        img(src="https://cocohitech.com/wp-content/uploads/2020/04/Dried-Noni-Fruit--400x400.jpg", alt="")
            .col-12.col-md-5 
                .product-content
                    .content-header
                        .category
                            h6 Loại danh mục:
                                a(href="#")   Dừa 
                        .product-name Coir Mat
                    .content-body 
                        .short-description
                            p Material: 100% coconut shell
                            p Port: Cat Lai Port, Hochiminh City, Vietnam
                            p Original: Ben Tre, Vietnam
                        .choose-buying
                            a(href="#").btn.btn-primary Liên hệ 
    h4 Mô tả sản phẩm    
    .product-wrapper.mb-4
        h2 What is CocoHitech?
        p CocoHitech Vietnam is a joint-stock company founded with the vision of providing oversea importers a great source of high-quality products made from coconut material. Our company provides a wide range of coconut products such as coir mat, coir rope, coconut husk chips,…etc, in which coir mat is the main product that we invest the most effort on. For the comfort of a pedestrian on uncovered roads and soil preservation, our environmental-friendly Coir Mats are made from 100% coconut shell material of Ben Tre province, known as the land of coconut in Vietnam
        img(src="https://cocohitech.com/wp-content/uploads/2018/10/1-coco-hitech-jsc-vietnam-768x512.jpg", alt="")
        h2 What is the coir mat?
        p Coir mat is a kind of eco-friendly mat made from coconut fiber which is found between the hard, internal shell of the outer coat of a coconut. After fully mature coconuts are harvested, they are put into machines to separate the long bristle fibers underneath the skin of the nut. This process is called wet-milling. Next, these coconut fibers are twisted into thicker and stronger strings which are then tied into coir mats. The coir fiber is relatively waterproof and is one of the few natural materials that are resistant to damage by seawater.
