.breadcrumb-wraper {
    background-color: #efefef;
    padding: 8px 0;
    ol{
        margin: 0;
        padding: 0;
        a{
            color: $dark;
        }
        .active{
            color: #888;
        }
    }
}