.container 
    .products-wrapper
        .row 
            .col-12.col-md-3.shop-sidebar 
                .sidebar-categories 
                    .title Danh mục
                    ul
                        li.bullet-arrow
                            a(href="#") Vải
                        li.bullet-arrow
                            a(href="#") Dừa
                        li.bullet-arrow
                            a(href="#") Sản phẩm khác
            .col-12.col-md-9 
                .products-inner 
                    .result Kết quả tìm kiếm cho "dừa": 4 kết quả
                    .sort-list 
                        ul 
                            li
                                a(href="#").link-active Mới nhất
                            li
                                a(href="#") Cũ nhất
                            li
                                a(href="#") Giá cao
                            li
                                a(href="#") Giá thấp
                    .search-result.mb-4
                        .row.g-2 
                            .col-6.col-md-4 
                                .product-block
                                    .product-image
                                        a(href="#") 
                                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/Areca-Leaf-Plates-1-280x280.jpg", alt="")
                                    .posted-in 
                                        a(href="#") Dừa
                                    .product-title
                                        a(href="#") Vải bố làm từ vỏ dừa
                                    .product-select
                                        a(href="/html/product.html").btn.btn-primary.btn-sm Xem ngay
                            .col-6.col-md-4 
                                .product-block
                                    .product-image
                                        a(href="#") 
                                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/Areca-Leaf-Plates-1-280x280.jpg", alt="")
                                    .posted-in 
                                        a(href="#") Dừa
                                    .product-title
                                        a(href="#") Vải bố làm từ vỏ dừa
                                    .product-select
                                        a(href="/html/product.html").btn.btn-primary.btn-sm Xem ngay
                            .col-6.col-md-4 
                                .product-block
                                    .product-image
                                        a(href="#") 
                                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/Areca-Leaf-Plates-1-280x280.jpg", alt="")
                                    .posted-in 
                                        a(href="#") Dừa
                                    .product-title
                                        a(href="#") Vải bố làm từ vỏ dừa
                                    .product-select
                                        a(href="/html/product.html").btn.btn-primary.btn-sm Xem ngay
                            .col-6.col-md-4 
                                .product-block
                                    .product-image
                                        a(href="#") 
                                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/Areca-Leaf-Plates-1-280x280.jpg", alt="")
                                    .posted-in 
                                        a(href="#") Dừa
                                    .product-title
                                        a(href="#") Vải bố làm từ vỏ dừa
                                    .product-select
                                        a(href="/html/product.html").btn.btn-primary.btn-sm Xem ngay
                            .col-6.col-md-4 
                                .product-block
                                    .product-image
                                        a(href="#") 
                                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/Areca-Leaf-Plates-1-280x280.jpg", alt="")
                                    .posted-in 
                                        a(href="#") Dừa
                                    .product-title
                                        a(href="#") Vải bố làm từ vỏ dừa
                                    .product-select
                                        a(href="/html/product.html").btn.btn-primary.btn-sm Xem ngay
                            .col-6.col-md-4 
                                .product-block
                                    .product-image
                                        a(href="#") 
                                            img(src="https://cocohitech.com/wp-content/uploads/2020/04/Areca-Leaf-Plates-1-280x280.jpg", alt="")
                                    .posted-in 
                                        a(href="#") Dừa
                                    .product-title
                                        a(href="#") Vải bố làm từ vỏ dừa
                                    .product-select
                                        a(href="/html/product.html").btn.btn-primary.btn-sm Xem ngay
                    nav 
                        ul.pagination 
                            li.page-item
                                a(href="#").page-link Previous 
                            li.page-item.active
                                a(href="#").page-link 1 
                            li.page-item
                                a(href="#").page-link 2 
                            li.page-item
                                a(href="#").page-link 3 
                            li.page-item
                                a(href="#").page-link Next


