.container 
    .row
        .col-md-8.post-inner
            strong.d-inline-block.mb-2.text-primary Nông nghiệp
            h2 Thị trường nông nghiệp 
            .mb-1.text-muted Tháng 12
            div
                p CocoHitech Vietnam is a joint-stock company founded with the vision of providing oversea importers a great source of high-quality products made from coconut material. Our company provides a wide range of coconut products such as coir mat, coir rope, coconut husk chips,…etc, in which coir mat is the main product that we invest the most effort on. For the comfort of a pedestrian on uncovered roads and soil preservation, our environmental-friendly Coir Mats are made from 100% coconut shell material of Ben Tre province, known as the land of coconut in Vietnam
                img(src="https://cocohitech.com/wp-content/uploads/2018/10/1-coco-hitech-jsc-vietnam-768x512.jpg", alt="")
                h4 What is the coir mat?
                p Coir mat is a kind of eco-friendly mat made from coconut fiber which is found between the hard, internal shell of the outer coat of a coconut. After fully mature coconuts are harvested, they are put into machines to separate the long bristle fibers underneath the skin of the nut. This process is called wet-milling. Next, these coconut fibers are twisted into thicker and stronger strings which are then tied into coir mats. The coir fiber is relatively waterproof and is one of the few natural materials that are resistant to damage by seawater.
        .col-md-4
            .position-sticky(style="top: 2rem;").bg-light.rounded 
                .p-4
                    h4 Archives
                    ol.list-unstyled.mb-0
                        li
                            a(href="#") Tháng 5/2021
                        li
                            a(href="#") Tháng 4/2021
                        li
                            a(href="#") Tháng 3/2021
                        li
                            a(href="#") Tháng 2/2021
                        li
                            a(href="#") Tháng 1/2021

